body{
    margin:0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
}
.secnvb{
    background-color:rgb(0, 0, 0);
    margin: 0;
}
.introo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}
.carttt{
    padding: 2px 10px;
    background-color: white;
    color: black;
    border-radius: 60px;
}
.markq{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
color: white;
}

.cator{
    color: rgb(255, 255, 255);
}
.logout{
    color:rgb(29, 38, 125) ;
    background-color: white;
    border-radius:2px ;
    padding: 5px 13px;
}
.uppernav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.logo{
    height: 60px;
    width:60px;
    margin:20px 20px;
}
.logo-and-title{
    display: flex;
    align-items: center;
}
.searchbar{
    height: 55px;
    width: 40%;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: stretch;
    display: flex;
    overflow: hidden;
}
.search-icon{
    height: 75%;
    margin-left:8px;
    opacity: 50%;
}
.search-input{
    background: transparent;
    border: none;
    height: inherit;
    font-size: 20px;
    margin-left:5px;
    width:70%;
    color: rgb(255, 255, 255);
}
.search-input::placeholder{
    text-align: center;
    color: rgb(255, 255, 255);
}
.search-input:focus{
    outline: none;
    color: rgb(255, 255, 255);
}
.search-button{
    height: inherit;
    width: 150px;
    color:rgb(0, 0, 0);
    font-size: 25px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    background-image: linear-gradient(to right,orange,red);
}
.bag-icon{
    height: inherit;
}
.lowernav{
    display: flex;
    background-color: rgb(6, 186, 203);
    gap: 30px;
    justify-content: center;
}
.lowernav div{
    font-size: 20px;
    margin: 5px;
    color:rgb(255, 255, 255);
}
.heading,.cart-button{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;

}
.smnvit{
    opacity: 0.8;
    font-family: 'Times New Roman', Times, serif;
}
.smnvit:hover{
    cursor: pointer;
    opacity: 1;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.navbar{
    z-index: 1;
    background-color: rgb(0, 0, 0);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(8px);
    color: rgb(255, 255, 255);
}
@media only screen and (min-width:800px){
    .navbar{
        z-index: 1;
        --bs-navbar-padding-y: 0;
    }
}

nav {
    display: flex;
    justify-content: space-evenly!important; 
    
}

.bi-search{
    color: rgb(255, 255, 255);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(255, 255, 255);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(255, 255, 255);
  }
  
  .scrolling-text {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: scroll 20s linear infinite;
    color: black;
    font-family: "Roboto Slab serif";
    font-weight: bold;
  }
  
  @keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
  }